<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/output.css" rel="stylesheet" />
  </head>
  <body>
    <div
      class="mainContainer m-4 p-2 flex space-x-2 border-2 bg-black max-lg:flex-col max-lg:gap-2"
    >
      <div class="imgCont relative w-fit">
        <img
          src="/hqdefault.webp"
          class="rounded-b-md rounded-t-md max-md:w-2xs object-cover max-sm:w-xs"
        />
        <span
          class="absolute right-0.5 bottom-1.5 bg-black text-white pl-1 pr-1 rounded-sm font-bold max-md:text-xs"
          >31:20</span
        >
      </div>
      <div class="txtCont flex flex-col gap-2">
        <div class="mainHeadingCont">
          <h1
            class="text-white font-bold text-2xl max-md:text-xl max-sm:text-xs"
          >
            Installing VS Code & How Websites Work | Sigma Web Development
            Course - Tutorial #1
          </h1>
        </div>
        <div
          class="smallHeadingCont text-gray-400 max-md:text-xl max-sm:text-xs"
        >
          <span>CodeWithHarry .</span>
          <span>931K views .</span>
          <span>3 months ago</span>
        </div>
      </div>
    </div>
  </body>
</html>
