<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <nav class="navBarContainer">
        <div class="navLeft">
            <a href="../home.html" class="logoLink"><img src="images/logo.png" alt="logo" width="120" height="40"></a>
        </div>
        <div class="navRight">
            <div class="navHeadings">
                <a href="../home.html" class="scroll home sectionLinks">
                    Home
                </a>
                <a href="../shop.html" class="scroll shop sectionLinks">
                    Shop
                </a>
                <a href="../blog.html" class="scroll blog sectionLinks">
                    Blog
                </a>
                <a href="../about.html" class="scroll about sectionLinks">
                    About
                </a>
                <a href="../contact.html" class="scroll contact sectionLinks">
                    Contact
                </a>

            </div>
            <a href="cart.html" class="scroll cart sectionLinks">
                <i class="fa-solid fa-bag-shopping"></i>
                <span class="cartItemsCount"></span>
            </a>
            <span class="navHamburger"><i class="fa-solid fa-bars"></i></span>
        </div>
    </nav>
</body>

</html>