<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
     <div class="newsLetterMainCont" id="newsletterSection">
            <div class="newsLetterText">
                <h1>Sign Up For Newsletters</h1>
                <p>Get E-mail updates about our latest shop and <span style="color: gold">special offers.</span></p>
            </div>
            <div class="newsLetterBtnCont">
                <input type="email" id="emailInput" placeholder="Your Email address">
                <input type="button" value="Sign Up" id="newsLetterBtn">
            </div>
        </div>
    
</body>
</html>