* {
    margin: 0;
    padding: 0;
}

:root {
    --bgColor: rgb(231, 47, 47);
    --secColor: rgb(212, 14, 34);
    --foreColor: #ffffff;
    --shadow: 0 0 10px rgba(255, 255, 255, 0.9);
}

body {
    background-color: var(--secColor);
}
.navContainer {
    height: 60px;
    padding: 10px;
    background-color: var(--bgColor);
    color: var(--foreColor);
}
.navContainer ul h1{
    --foreColor: rgb(190, 199, 13);
    font-size: 25px;
    color: var(--foreColor);
}
.navContainer ul h1:hover{
    --shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    text-shadow: var(--shadow);
}
.navContainer li {
    list-style: none;
    margin-left: 30px;
    font-size: 18px;
    text-align: center;
}

.navContainer ul {
    height: 100%;
    display: flex;
    align-items: center;
   
}

.navContainer li:last-child {
    margin-left: auto;
}

.navContainer li:hover {
    text-shadow: var(--shadow);
}
.fa-solid{
    margin-right: 10px;
}